.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 20px;
  font-size: 32px;
  opacity: 0;
  transition: opacity 1s ease, transform ease;
}
.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition: vivbility 0s 0s, opacity 1s ease;
}
.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  max-width: 730px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
}
.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  background-image: url(../images/close.svg);
  opacity: 40%;
}
.modal__close-btn:hover {
  opacity: 100%;
  cursor: pointer;
  transition: 0.5s ease;
}
.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
}
.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 1;
  opacity: 70%;
}
.modal__input {
  box-sizing: border-box;
  color: #212121;
  opacity: 1;
  border: 1px solid;
  padding: 16px 12px;
  border-radius: 8px;
  max-width: 630px;
}
.modal__input::placeholder {
  color: #212121;
  font-weight: 500;
  font-size: 20px;
  opacity: 100%;
}
.modal__submit-btn {
  width: 150px;
  padding: 18px 0;
  font-size: 16px;

  border: none;
  background-color: #212121;
  color: #fff;
  margin-left: auto;
  margin-top: auto;
  border-radius: 8px;
  transition: 0.5s ease;
}

.modal__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
    font-size: 20px;
  }
  .modal__container {
    padding: 12px;
  }
  .modaul__title {
    margin: 10px 0 34px;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
  .modal__label {
    margin-bottom: 24px;
  }
  .modal__submit-btn {
    width: 100%;
  }
}
