.page {
  min-height: 100vh;
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.page__section {
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 627) {
  .page {
    padding-right: auto;
    padding-left: auto;
    height: 100%;
  }
}
