.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}
.profile__avatar {
  object-fit: cover;
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}
.profile__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.profile__name {
  color: #212121;
  max-width: 420px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 12px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  color: #212121;
  opacity: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}
.profile__edit-btn {
  margin-top: auto;

  background-color: transparent;
  border: none;
  opacity: 70%;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  transition: 0.5s ease;
}
.profile__edit-btn:hover {
  opacity: 100%;
  cursor: pointer;
}
.profile__add-btn {
  width: 157px;
  height: 52px;
  padding: 0;
  border: none;
  background-color: #212121;
  color: #fff;
  margin-left: auto;
  margin-top: auto;
  border-radius: 8px;
  transition: 0.5s ease;
}
.profile__add-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media screen and (max-width: 627px) {
  .profile {
    display: flex;
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__avatar {
    margin-right: auto;
    margin-left: auto;
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
  }
  .profile__name {
    font-size: 20px;
    margin: 0 0 0 12px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
  }
  .profile__column {
    margin: 0 0 0 20px;
  }
  .profile__description {
    margin-left: auto;
    margin-right: auto;

    white-space: nowrap;
    overflow: hidden;
  }
  .profile__add-btn {
    width: 288px;
    margin-top: 20px;
  }
  .profile__edit-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
  }
}
